<div>
  <div class="page-header">
    <h1>Available jets</h1>
  </div>
  <!-- jet-item -->
  <div *ngFor="let jet of jets" class="list-group-item clearfix">
    <div class="pull-left">
      <h4 class="list-group-item-heading">{{ jet.name }}</h4>
      <p class="list-group-item-text">{{ jet.maker }}</p>
    </div>
    <span class="pull-right">
        <img
          [src]="jet.pictureUrl"
          alt="{{ jet.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
  </div>
  <!--Fin jet-item-->
  <hr>
  <!-- jet-creation -->
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline" autocomplete="off">
        <div class="form-group">
          <input placeholder="name" type="text" name="name" class="form-control" [(ngModel)]="newJet.name">
        </div>
        <div class="form-group">
          <input placeholder="maker" type="text" name="maker" class="form-control" [(ngModel)]="newJet.maker">
        </div>
        <div class="form-group">
          <input placeholder="picture" type="text" name="picture" class="form-control" [(ngModel)]="newJet.pictureUrl">
        </div>
        <button class="btn btn-success" type="button" (click)="onJetCreation()">Create Jet</button>
        <button class="btn btn-primary" type="button">Clear</button>
      </form>
    </div>
  </div>
  <!--fin jet-creation-->
</div>
