<form autocomplete="off">

  <div class="contact-information">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="First Name">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Last Name">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="preferedjet">Prefered Jet</label>
    <select id="preferedjet" class="form-control">
      <option value="Rafale">Rafale</option>
      <option value="Tomcat">Apache Tomcat</option>
    </select>
  </div>

  <div class="form-group">
    <label for="whyJet">Why do you like this jet ?</label>
    <textarea class="form-control" id="whyJet" rows="3"></textarea>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox">Check me please
    </label>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
